* {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid black;
    background-color: gainsboro;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
}

.paragraph {
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
}